.btn {
	display: inline-flex;
	padding: 11px 30px;

	font-size: 18px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-decoration: none;

	background: #7b7cff;
	border-radius: 10px;
	border: none;
	cursor: pointer;

	transition: background-color .25s, color .25s, transform .25s;

}

.btn:hover {
	transform: translateY(-2px);
	background-color: #011054;
}

.btn:focus {
	background-color: #011054;
}

.btn:disabled {
	opacity: 0.4;
}