.hero {
    min-height: 710px;

    padding-top: 130px;
    padding-bottom: 130px;

    color: #fff;

    background-image: url('../images/template/hero-bg.jpg');
    background-color: #090909;
    background-size: cover;
    background-position: center;

    @media (max-width: $break_sm) {
        min-height: auto;
        padding-top: 146px;
        padding-bottom: 94px;
    }
}

.hero-box {
    max-width: 580px;

    @media (max-width: $break_sm) {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.hero-title {
    margin-bottom: 15px;

    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    text-transform: uppercase;

    @media (max-width: $break_md) {
        font-size: 36px;
    }

    @media (max-width: $break_sm) {
        font-size: 24px;
    }
}
.hero-descr {
    margin-bottom: 53px;

    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
}
.hero-btn {
}