// font-family: 'Inter', sans-serif;

@use "sass:math";

*,
*:before,
*:after {
	box-sizing: border-box;
	// box-sizing: inherit;
}

body {
	font-family: "Gilroy", Arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    margin: 0;
    color: #151515;
}

.bg-color {
	background-color: #F4F6FA;
}

.maxwidth-theme {
	max-width: 1170px;
    position: relative;
    width: 100%;
    margin: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.p-0-15 {
	padding: 0 15px;
}

.s-title {
    margin-bottom: 25px;

    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    text-transform: uppercase;

    @media (max-width: $break_md) {
        font-size: 36px;
    }

    @media (max-width: $break_sm) {
        font-size: 24
	}

	span {
		color: #7B7CFF;
	}
}