// font-family: 'Inter', sans-serif;

@use "sass:math";

*,
*:before,
*:after {
	box-sizing: border-box;
	// box-sizing: inherit;
    font-family: "Gilroy", Arial;
}

body {
	font-family: "Gilroy", Arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    margin: 0;
    color: #151515;
}

.bg-color {
	background-color: #F4F6FA;
}

.maxwidth-theme {
	max-width: 1170px;
    position: relative;
    width: 100%;
    margin: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.p-0-15 {
	padding: 0 15px;
}

.s-title {
	margin-top: 0;
    margin-bottom: 25px;

    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    text-transform: uppercase;

    @media (max-width: $break_md) {
        font-size: 36px;
    }

    @media (max-width: $break_sm) {
        font-size: 24px;
	}

	span {
		color: #7B7CFF;
	}
}

img {
    max-width: 100%;
}

ul.decor {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    font-size: 18px;
    font-weight: 600;

    @media (max-width: $break_sm) {
        font-size: 16px;
    }

    li {
        position: relative;
        padding-left: 34px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            // top: 50%;
            // transform: translateY(-50%);
            content: '';

            width: 24px;
            height: 24px;

            background-image: url('../images/template/ul-li-decore.svg');
            background-size: cover;
        }
    }
}

.bg-w {
    background-color: #fff;
}

.brs-d {
    border-radius: 30px 30px 0px 0px;
}

.section-box {
    padding-top: 120px;
    padding-bottom: 120px;

    @media (max-width: $break_sm) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    & > * {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.form-home {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.form-home {
    .PhoneBlock {
        @media (max-width: $break_sm) {
            flex-grow: 1;
        }
    }
    input[type="text"] {
        padding-left: 17px;
        padding-right: 17px;

        min-width: 277px;

        background-color: #fff;
        border-radius: 10px;
        border: none;

        height: 51px;

        @media (max-width: $break_sm) {
            min-width: auto;
            width: 100%;
        }
    }

    .btn {
        padding: 15px 30px;

        font-size: 18px;
        font-weight: 600;
        justify-content: center;

        @media (max-width: $break_sm) {
            flex-grow: 1;
        }
    }
}

.form-footer {
    display: block;
    width: 100%;

    a {
        // padding-left: 6px;
        // padding-right: 6px;

        color: #fff;
        text-decoration: underline;
    }
}