.s03 {
    margin-top: 120px;
    margin-bottom: 120px;


    @media (max-width: $break_sm) {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .s-title {
        margin-bottom: 43px;

        @media (max-width: $break_md) {
            margin-bottom: 23px;
        }

        @media (max-width: $break_sm) {
            margin-bottom: 1px;
        }
    }
}
.s03-col1 {
    width: 44%;

    @media (max-width: $break_sm) {
        width: 100%;
        margin-bottom: 29px;
    }

    img {
        border-radius: 0px 10px 10px 0px;

        @media (max-width: $break_sm) {
            border-radius: 0;
        }
    }
}
.s03-col2 {
    width: 56%;

    @media (max-width: $break_sm) {
        width: 100%;
    }
}
.s03-box {
    padding-left: 78px;
    // max-width: calc(1140px - 44%);
    max-width: calc(1140px - (1140px * 0.42));
    // width: 100%;

    @media (max-width: $break_md) {
        padding-left: 24px;
    }

    @media (max-width: $break_sm) {
        padding-left: 0;
        max-width: 100%;
    }
}
.p-0-15 {
}

.s03-list {
    list-style-type: none;
    margin: 0;
    margin-bottom: 64px;
    padding: 0;

    @media (max-width: $break_md) {
        margin-bottom: 0;
    }

    li {

        &:not(:last-child) {
            border-bottom: 1px solid #D2D2D2;
        }
    }

    a {
        position: relative;

        display: block;
        padding-top: 34px;
        padding-bottom: 28px;
        padding-right: 50px;

        font-size: 20px;
        font-weight: 600;
        line-height: 1.25;
        color: #2D2D43;
        text-decoration: none;

        transition: .25s;

        @media (max-width: $break_md) {
            padding-top: 23px;
            padding-bottom: 17px;
        }

        @media (max-width: $break_sm) {
            font-size: 16px;
            font-weight: 500;
        }

        &:hover {
            color: #7b7cff;
        }

        &:hover::after {
            // right: 5px;
            background-color: #7b7cff;

        }

        &::after {
            position: absolute;
            content: '';
            width: 36px;
            height: 35px;
            right: 0;
            top: 50%;
            z-index: 1;
            transform: translateY(-50%);

            border-radius: 50%;
            background-color: #2D2D43;
            background-image: url('../images/template/list-item-arrow.svg');
            background-size: 16px 16px;
            background-position: center center;
            background-repeat: no-repeat;

            transition: .25s;

            @media (max-width: $break_sm) {
                height: 29px;
                width: 29px;
            }
        }
    }
}

.s03-btn {
    @media (max-width: $break_md) {
        display: none;
    }
}