.s04 {
    padding-top: 138px;
    padding-bottom: 120px;

    overflow: hidden;

    @media (max-width: $break_sm) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .s-title {
        padding-top: 64px;
        margin-bottom: 6px;
        padding-left: calc(37.72% + 95px);

        @media (max-width: $break_lg) {
            padding-top: 0;
        }


        @media (max-width: $break_md) {
            padding-left: calc(37.72% + 36px);
        }

        @media (max-width: 560px) {
            padding-left: 0;
        }
    }
}

.s04--revers {
    padding-top: 98px;

    min-height: 860px;

    @media (max-width: $break_md) {
        min-height: 820px;
    }

    @media (max-width: $break_md) {
        min-height: 535px;
    }


    .s-title {
        padding-left: 0;
        padding-right: calc(37.72% + 95px);

        @media (max-width: $break_md) {
            padding-left: 0;
            padding-right: calc(37.72% + 36px);
        }
    }
}

.maxwidth-theme {
}
.p-0-15 {
}
.s04-box {
    display: flex;
    flex-wrap: wrap;
}
.s04-img {
    // position: relative;
    position: absolute;
    float: left;

    padding-right: 60px;
    padding-top: 60px;

    text-align: right;

    width: 37.72%;

    @media (max-width: $break_md) {
        padding-right: 24px;
        padding-top: 24px;
    }

    @media (max-width: 560px) {
        position: relative;

        width: 100%;
    }

    .s04--revers & {
        position: absolute;
        right: 0;

        order: 2;
        padding-top: 130px;

        @media (max-width: $break_sm) {
            padding-top: 24px;
        }

        @media (max-width: 560px) {
            position: relative;
            order: 0;
            // padding-top: 0;
        }

        &::after {
            top: 70px;

            @media (max-width: $break_sm) {
                top: 0;
            }
        }
    }

    img {
        border-radius: 10px;
        overflow: hidden;

        position: relative;
        z-index: 2;
    }

    &::after {
        position: absolute;
        content: '';
        z-index: 1;

        top: 0;
        right: 0;

        width: 250px;
        height: 250px;

        background-color: #7B7CFF;
        border-radius: 10px;

        @media (max-width: $break_sm) {
            width: 160px;
            height: 160px;
        }
    }
}
.s04-text {
    // width: 62.28%;
    // padding-top: 62px;
    padding-left: calc(37.72% + 95px);

    font-size: 18px;
    line-height: 1.4;

    @media (max-width: $break_md) {
        // padding-left: 36px;
        padding-left: calc(37.72% + 36px);
        font-size: 16px;
    }

    @media (max-width: 560px) {

        width: 100%;
        padding-top: 25px;
        padding-left: 0;
    }

    .s04--revers & {
        // padding-right: 95px;
        padding-right: calc(37.72% + 95px);
        padding-left: 0;

        overflow: hidden;

        @media (max-width: $break_md) {
            padding-right: calc(37.72% + 36px);
        }

        @media (max-width: 560px) {
            padding-right: 0;
        }
    }
}

.s04-decr {
}
.quote {
    position: relative;
    padding-left: 15px;
    margin-top: 19px;
    margin-bottom: 19px;
    // border-left: 4px solid #7B7CFF;

    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;

    @media (max-width: $break_md) {
        font-size: 18px;
    }

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;

        width: 4px;
        height: 100%;

        border-radius: 4px;
        background-color: #7B7CFF;
    }
}
.numbers {
    margin-top: 77px;

    @media (max-width: $break_md) {
        margin-top: 35px;
    }
}
.numbers-item {
    display: inline-flex;
    flex-direction: column;

    font-size: 70px;
    line-height: 1;
    font-weight: 600;
    text-align: center;

    @media (max-width: $break_md) {
        font-size: 34px;
    }

    &:not(:last-child) {
        margin-right: 220px;

        @media (max-width: $break_md) {
            margin-right: 40px;
        }
    }

    span {
        margin-top: 5px;
        display: block;

        font-size: 18px;
        line-height: 1.2222;
        font-weight: 500;

        @media (max-width: $break_md) {
            font-size: 16px;
        }
    }
}