.s05 {
    padding-top: 93px;
    padding-bottom: 105px;

    color: #fff;

    background-image: url('../images/template/s05/bg-s05.jpg');
    background-size: cover;
    background-position: center;
}
.maxwidth-theme {
}
.p-0-15 {
}
.s05-box {
    padding: 67px 60px 25px 60px;

    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.12), inset 1px 1px 1px rgba(255, 255, 255, 0.42);
    backdrop-filter: blur(10px);
    border-radius: 10px;

    .s-title {
        max-width: 966px;
        margin-bottom: 12px;
    }
    .s05-decr {
        margin-top: 12px;
        margin-bottom: 27px;
        max-width: 620px;

        font-size: 18px;
        font-weight: 500;
    }
}

.s05-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.PhoneBlock {
}

.s05-btn {
}

.form {
    input[type="text"] {
        padding-left: 17px;
        padding-right: 17px;

        min-width: 277px;

        background-color: #fff;
        border-radius: 10px;
        border: none;

        height: 51px;
    }

    .btn {
        padding: 15px 30px;

        font-size: 18px;
        font-weight: 600;
    }
}
.form-footer {
    display: block;
    width: 100%;

    a {
        padding-left: 6px;
        padding-right: 6px;

        color: #fff;
        text-decoration: underline;
    }
}