.s08 {
    margin-top: 120px;
    margin-bottom: 120px;

    @media (max-width: $break_sm) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.s08-box {
    padding: 50px;

    color: #fff;

    background-color: #7B7CFF;
    background-image: url('../images/template/s08/bg.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 10px;

    @media (max-width: $break_sm) {
        padding: 39px 25px;
    }

    @media (max-width: $break_sm) {
        background-image: none;
        text-align: center;
    }

    .s-title {
        max-width: 600px;

        @media (max-width: $break_sm) {
            text-align: center;
        }
    }

    a {
        color: #fff;
    }

}


.s08-form {
    p {
        width: 100%;

        font-size: 18px;
        font-weight: 600;

        @media (max-width: $break_sm) {
            font-size: 16px;
        }

        a {
            text-decoration: none;
            
            @media (max-width: $break_sm) {
                display: block;
            }
        }
    }
}

.s08-btn {
    background-color: #011054;
}







.form {
}
.PhoneBlock {
}
.btn {
}
.form-footer {
}