.s09 {
    margin-top: 120px;
    margin-bottom: 120px;

    @media (max-width: $break_sm) {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .s-title {
        margin-top: 50px;
        margin-bottom: 60px;

        @media (max-width: $break_sm) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.s09-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: $break_sm) {
        justify-content: center;
    }
}
.s09-info {
    width: 368px;

    @media (max-width: $break_md) {
        width: 30%;
    }

    @media (max-width: $break_sm) {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}


.s09-btn {
    position: absolute;
    left: 0;
    top: 200px;

    @media (max-width: $break_md) {
        top: 170px;
    }

    @media (max-width: $break_sm) {
        position: relative;
        top: 0;
    }
}
.s09-img {
    width: calc(100% - 368px - 20px);
    display: flex;
    gap: 16px;

    @media (max-width: $break_md) {
        flex-grow: 1;
    }

    @media (max-width: $break_sm) {
        width: 100%;
    }

    a {
        display: block;
        width: calc((100% - 3*16px + 16px) / 3);
        line-height: 0;

        &:nth-child(3) {
            @media (max-width: $break_xs) {
                display: none;
            }
        }

        @media (max-width: $break_xs) {
            width: calc((100% - 2*16px + 16px) / 2);
        }
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
    }
}