.s10 {
    margin-top: 120px;
    margin-bottom: 120px;

    @media (max-width: $break_sm) {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .s-title {
        margin-bottom: 40px;
    }

    .slick-track {
        display: flex;

        .slick-slide {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;

            padding: 15px;

            margin-left: 10px;
            margin-right: 10px;
            // height: 200px;

            background-color: #fff;
            border-radius: 10px;
        }
    }

    .slick-dots {
        bottom: -40px;
    }

    .slick-dots li {
        margin-top: 2px;
    }

    .slick-dots li button:before {
        width: 8px;
        height: 8px;

        background-color: #011054;
    }

    .slick-dots li.slick-active button:before {
        background-color: #7B7CFF;
    }
}



.s10-sl {

}

.s10-sl__item {
    img {
        max-width: 100%;
        max-height: 100%;
    }
}