head
	title sout78

	meta(charset="utf-8")
	meta(http-equiv='X-UA-Compatible', content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")

	link(href="css/main.min.css" rel="stylesheet")

	link(href="https://sout78.ru/bitrix/templates/mkws/components/bitrix/news.detail/landing/libs/fancybox/jquery.fancybox.min.css" rel="stylesheet")
	link(href="https://sout78.ru/bitrix/templates/mkws/components/bitrix/news.detail/landing/libs/css/slick.css" rel="stylesheet")
	link(href="https://sout78.ru/bitrix/templates/mkws/components/bitrix/news.detail/landing/libs/css/slick-theme.css" rel="stylesheet")

	script(src="js/scripts.min.js" defer)

	script(src="https://sout78.ru/bitrix/templates/mkws/js/jquery.js" defer)
	script(src="https://sout78.ru/bitrix/templates/mkws/components/bitrix/news.detail/landing/libs/fancybox/jquery.fancybox.min.js" defer)
	script(src="https://sout78.ru/bitrix/templates/mkws/components/bitrix/news.detail/landing/libs/js/slick.js" defer)
