.hero
    .maxwidth-theme
        .hero-box.p-0-15
            h1.hero-title УСЛУГИ В ОБЛАСТИ ОХРАНЫ ТРУДА В Санкт-Петербурге
            .hero-descr Проведение аудита и организация процедур специальной оценки и производственного контроля условий труда
            btn.btn.hero-btn Бесплатная консультация