.s02
    .maxwidth-theme
        .p-0-15
            h2.s-title
                span Оказываем услуги&#32;
                | в сфере охраны и оценки условий труда&#32;
                span 15+ лет

            .s02-box
                .s02-item
                    img(src="images/template/s02/01.svg", alt="").s02-item__icon
                    .s02-item__title Собственная лаборатория
                    .s02-item__descr Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                .s02-item
                    img(src="images/template/s02/02.svg", alt="").s02-item__icon
                    .s02-item__title Работаем по всей России
                    .s02-item__descr Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                .s02-item
                    img(src="images/template/s02/03.svg", alt="").s02-item__icon
                    .s02-item__title Договор в течение 2 часов
                    .s02-item__descr Выезд инженеров в течение суток!
                .s02-item
                    img(src="images/template/s02/04.svg", alt="").s02-item__icon
                    .s02-item__title Специальная оценка условий труда от 550 руб
                    .s02-item__descr Оставьте заявку и узнайте подробности
                .s02-item.s02-item--bg
                    img(src="", alt="").s02-item__icon



