.s03
    .s03-col1
        img(src="images/template/s03/01.jpg", alt="" loading="lazy")
    .s03-col2
        .s03-box
            .p-0-15
                h2.s-title наши услуги

                ul.s03-list
                    li
                        a(href="#") Специальная оценка условий труда (СОУТ)
                    li
                        a(href="#") Аудит охраны труда
                    li
                        a(href="#") Оценка профессиональных рисков
                    li
                        a(href="#") Производственный контроль
                    li
                        a(href="#") Учебный центр

                button.btn.s03-btn Оставить заявку

