.s03
    .s03-col1
        img(src="images/template/s03/01.jpg", alt="")
    .s03-col2
        .p-0-15
            h2.s-title наши услуги

            ul.s03-list
                li
                    a(href="#") Специальная оценка условий труда (СОУТ)
                    a(href="#") Аудит охраны труда
                    a(href="#") Оценка профессиональных рисков
                    a(href="#") Производственный контроль
                    a(href="#") Учебный центр

            btn.btn.hero-btn Оставить заявку

