.s04.bg-w.brs-d
    .maxwidth-theme
        .p-0-15
            .s04-box
                .s04-img
                    img(src="images/template/s04/01.jpg", alt="" loading="lazy")
                .s04-text
                    h2.s-title Работа с центром охраны труда
                    .s04-decr
                        p Каждый работодатель обязан создать для своих сотрудников безопасные условия труда.
                        p.quote Несоблюдение требований законодательства РФ влечет за собой наложение штрафов, повышение страховых выплат и иные санкции со стороны надзорных органов.
                        p ООО «Центр охраны труда» оказывает руководителям предприятий Санкт-Петербурга полный комплекс услуг в области производственной безопасности.

                    .numbers
                        .numbers-item
                            | 15+
                            span лет работы
                        .numbers-item
                            | 2000+
                            span довольных клиентов



