.s05
    .maxwidth-theme
        .p-0-15
            .s05-box
                h2.s-title Свяжитесь с нами, и наши эксперты в течение суток приедут по указанному адресу
                p.s05-decr Мы работаем быстро, качественно, со строгим соблюдением условий договора и установленных сроков.

                form(action="").form.s05-form
                    .PhoneBlock
                        input(type="text" name="phone" placeholder="+7 (900) 000-00-00")
                    input(type="submit" value="Оставить заявку").btn.s05-btn

                    .form-footer
                        input(type="checkbox" name="" id="check-s05")
                        label(for="check-s05")
                            |  Я принимаю условия
                            a(href="/politika-konfidentsialnosti/") Пользовательского соглашения



