.s04.s04--revers
    .maxwidth-theme
        .p-0-15
            .s04-box
                .s04-img
                    img(src="images/template/s06/01.jpg", alt="" loading="lazy")
                .s04-text
                    h2.s-title Преимущества сотрудничества
                    .s04-decr
                        p Наши специалисты имеют многолетний практический опыт работы, внимательно отслеживают изменения в действующем законодательстве и регулярно проходят курсы повышения квалификации в лучших учебных заведениях России.
                        p Помогаем индивидуальным предпринимателям и юр. лицам в:

                        ul.decor
                            li Cоздании и внедрении СУОТ и системы управления профессиональными рисками
                            li Разработке и ведении трудоохранной документации
                            li Проведении аудита перед проверкой ГИТ
                            li Организации процедур специальной оценки и производственного контроля условий труда





