.s07.bg-w.brs-d
    .maxwidth-theme
        .p-0-15
            h2.s-title
                | мы являемся образовательным партнером АНО ДПО «Гуманитарно-Технический университет»,
                span поможем вам организовать обучение вашего персонала
            a(href="#").btn Учебный центр