.s09
    .maxwidth-theme
        .p-0-15
            .s09-box
                .s09-info
                    h2.s-title Наши сертификаты
                .s09-img
                    a(href="images/template/s09/01.jpg" data-fancybox="gallery")
                        img(src="images/template/s09/01.jpg" alt="" loading="lazy")
                    a(href="images/template/s09/02.jpg" data-fancybox="gallery")
                        img(src="images/template/s09/02.jpg" alt="" loading="lazy")
                    a(href="images/template/s09/03.jpg" data-fancybox="gallery")
                        img(src="images/template/s09/03.jpg" alt="" loading="lazy")
                a(href="#").btn.s09-btn Смотреть все