.s10
    .maxwidth-theme
        .p-0-15
            h2.s-title Клиенты

            .s10-sl
                .s10-sl__item
                    img(src="images/template/s10/01.jpg", alt="")
                .s10-sl__item
                    img(src="images/template/s10/02.jpg", alt="")
                .s10-sl__item
                    img(src="images/template/s10/03.png", alt="")
                .s10-sl__item
                    img(src="images/template/s10/04.png", alt="")
                .s10-sl__item
                    img(src="images/template/s10/05.jpg", alt="")
                .s10-sl__item
                    img(src="images/template/s10/06.png", alt="")
                .s10-sl__item
                    img(src="images/template/s10/07.png", alt="")