include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body.bg-color
        //- include ../includes/preloader
        include ../includes/hero
        .section-box
            include ../includes/s02
            include ../includes/s03
        include ../includes/s04
        include ../includes/s05
        include ../includes/s06
        include ../includes/s07
        .section-box
            include ../includes/s08
            include ../includes/s09
            include ../includes/s10

        //- main
