include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body.bg-color
        //- include ../includes/preloader
        include ../includes/hero
        include ../includes/s02
        include ../includes/s03
        include ../includes/s04

        main
