mixin linkToPage(link, title)
	p
		a(href=link+".html" target="_blank") #{title}

doctype html
html(lang="ru-RU")
	include ../includes/head
	body
		.container.maxwidth-theme
			h1 Редизайн главной страницы сайта sout78.ru:
			.index
				p.info Если страничка отображается криво, обновляем ее через CTRL + F5!
				+linkToPage('home','home - Главная')